.form {
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 30px;
  margin-bottom: 20px;
}

.input {
  width: 70%;
  margin-bottom: 10px;
}

.btn {
  width: 100px;
}
